    <div class="default_banner">
        <div class="jumbotron">
            <h1 class="Jumbotron_title">Academics </h1>
            <p>
            	GitHub provides several levels of account plans but you can create unlimited public repositories with a free plan so for now, you can select that one.
            </p>
            <p><a class="btn btn-default btn_one" role="button" href="#">Learn more</a></p>
        </div>
    </div>
    <hr class="underline-one">