/*------------------------------------------------------------------------------------------------------------------------

 @package: Forest Hill Residence
 @author: Paranormalminds - Lebohang Mbele
 @version: 1.0

 --------------------------------------------------------------------------------------------------------------------- */

/* =============================================================================
Imports & Variables
========================================================================== */
/* Variables */
$color_main : #005a17 ; // main green
$color_secondary : lighten($color_main, 10%) ; // light green
$gray-medium-light: #eaeaea;
$gray-light: lighten($gray-medium-light, 10%);
$gray-darker: darken($gray-medium-light, 10%);
/************************************************************************
 *                             blog-pages                               *
 ************************************************************************/
 .blog{
  font-family:'Roboto Slab', serif;

  .jumbotron{
    position:absolute;
    top:42%;
    left:30%;
    width:40%;
    padding:2em 0px;
    text-align:center;
    background:rgba(255, 255, 255, 0.76);
    
    h2{
      font-size:15px;
      border-bottom:1px solid #190608;
      color:#190608;
      padding-bottom:2px;
      width:25%;
      margin:0 auto;
      font-family:'Raleway', sans-serif;
    }
    h1{
      font-size:1.5em;
      margin:20px 0 0 0;
      color:#190608;
    }
  }
}

#blog-fashion-art{
  background: image_url('blog/blog-fashion-banner.png') no-repeat center;
  background-size:cover;
  min-height:600px;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -ms-background-size:cover;
  position:relative;
}

.blog-main-caption{
  text-align:center;

  p{
    color:#999;
    font-size:14px;
    border-bottom:1px solid #999;
    width:13%;
    margin:0 auto;
    font-family:'Raleway', sans-serif;
  }

  h3{
    font-size:24px;
    margin:10px 0 0 0;
    color:#3d1a1b;
  }
}

.blog-btn{
  margin-top:8%;
  
  a{
    color:#190608;
    padding:5px 13px;
    border:1px solid #190608;
    text-transform:none;
    font-size:13px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    font-family:'Raleway', sans-serif;
  }

  a:hover{
    background-color:#190608;
    color:#fff;
    transition:0.5s all ease;
    -webkit-transition:0.5s all ease;
    -moz-transition:0.5s all ease;
    -ms-transition:0.5s all ease;
  }
}

.blog-main-content .blog-btn{
  margin-top:1%;
}

.btn-one{
  background-color:transparent;
  padding:15px 35px;
  border:1.5px solid #282821;
  color:#282821;
}


.blog-main-content{
  margin-top:3%;

  a img{
    width:100%;
    border-radius:6px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
  }

  p{
    font-size:14px;
    font-family:'Raleway', sans-serif;
    color:#999;
    line-height:1.8em;
    margin-top:2%;

    a{
      color:#190608;
    }
    a:hover{
      color:#999;
    }
  }
  ul{
    padding:0;
    margin-top:3%;
    font-family:'Raleway', sans-serif;

    li{
      list-style:none;
      display:inline;

      i{
        color:#190608;
        font-size:17px;
        margin:0 3px;
      }
    }
  }
}

.blog-thumbnail {
  
  img{
    width:100%;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
  }

  h6{
    color:#999;
    font-size:13px;
    border-bottom:1px solid #999;
    width:24%;
    font-family:'Raleway', sans-serif;
    margin:1% 0 0 0;
  }

  h3{
    font-size:23px;
    margin:10px 0 0 0;
    color:#212121;
  
    a{
      color:#3d1a1b;
    }
  }

  p{
    color:#999;
    font-size:14px;
    font-family:'Raleway', sans-serif;
    line-height:1.8em;
    margin-top:4%;
  }

  label{
    color:#999;
    font-size:13px;
    font-family:'Raleway', sans-serif;
    float:right;
    margin-top:4%;
  }
}



.blog-small{
  margin-top:5%;
  .thumbnail{
    padding-bottom:15px;
    border:none;
  }
}

.blog-row{
  margin-top:5%;
}

.blog-heading{
  color:#fff;
  background:#190608;
  padding:9px 0px;
  border:1px solid #190608;
  font-size:15px;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  width:75%;
  text-align:center;
  font-size:16px;
  margin:0 auto;
}

.underline{
  margin:3% 0 0 2.5%;
  border-bottom:1px solid #190608;
  text-align:center;
  width:95%;
}

.blog-main{ 

  .widget-wrapper{
    margin-top:10%;
    font-family:'Roboto Slab', serif;

    .list-group{
      margin-top:5%;
      border:none;

      a{
        color:#999;
      }

      a:hover{
        color:#190608;
        text-decoration: none;
      }
    }

    .list-group-item{
      border:none;
      margin-top:0px;
      padding:4px 0 9px 0;
    }
  }
}


.blog-suggestion, .blog-news-letters{
  margin-top:5%;
}

.blog-suggestion-row{
  padding:4% 0;
}

.blog-suggestion-img{
  float:left;
  width:29%;
  margin-top:1%;

  img{
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
  }
}

.blog-suggestion-content{
  float:right;
  text-align:left;
  width:67%;

  p{
    font-size:12px;
    color:#999;
    line-height:1.8em;
    font-family:'Raleway', sans-serif;
    margin-top:2%;
  }

  h4{
    font-size:17px;
    margin:0px 0 0 0;
    color:#3d1a1b;

    a{
      color:#3d1a1b;
    }
  }
}

.blog-news-letters input[type="email"]{
  width:100%;
  color:#190608;
  outline:none;
  font-size:13px;
  padding:8px 10px;
  margin-top:10%;
  border:1px solid #190608;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  font-family:'Raleway', sens-serif;
}

.blog-news-letters button[type="button"]{
  background:#190608;
  font-family:'Raleway', sans-serif;
  padding:5px 1em;
  color:#fff;
  font-size:14px;
  font-weight:400;
  display:block;
  outline:none;
  border:none;
  margin-top:3%;
  width:33%;
  float:right;
  text-transform:none;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
}

.blog-news-letters button[type="button"]:hover{
  background:#999;
  transition:0.5s all ease;
  -webkit-transition:0.5s all ease;
  -moz-transition:0.5s all ease;
  -ms-transition:0.5s all ease;
}




/************************************************************************
 *                               footer                                 *
 ************************************************************************/
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 2px solid $gray-medium-light;
  color: $gray-light;

  #copyright{
    a{
      &:hover{
        text-decoration: none;
      }
    }
  }

  a {
    margin-left: 30px;
    color: gray;
    &:hover {
      color: gray;
    }
    &:visited{
      color:#777
    }
  }
  div {
    display: inline;
  }
}
// http://www.landmarkmlp.com/js-plugin/owl.carousel/demos/transitions.html
.blog-media-slider{
  background-color: #190608;
  padding: 10px;

  .thumbnail{
    background-color: #190608;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
  }

}


/************************************************************************
 *                          Responsive media                            *
 ************************************************************************/

@media (max-width:767px) {
  .blog-jumbotron-btn a{
    padding:4px 12px;
    font-size:10px;
  }

  .blog .jumbotron{
    left:15%;
    width:70%;
    top:25%;

    h2{
      font-size:10px;
      width:35%;
    }
    h1{
      font-size:1em;
      margin:15px 0 0 0;
    }
  }

  #blog-fashion-art{
    min-height:390px;
  }
  .blog-main-caption p{
    width:25%;
  }
}

@media (max-width:991px) {
  .blog{
    padding:20px;
    
    .jambotron{
      padding:20px;
      left:25%;
      width:50%;
      top:30%;
    }
  }
}
@media (max-width:490px) {

}
