<footer class="footer">
  <div id="copyright">
    <a>&copy; UCT Forest Hill Residence 2017. All rights reserved.</a>
  </div>

  <div>
    <a title="Privacy Policy" href="#">Privacy Policy</a>
    <a title="Terms of Service" href="#">Terms of Service</a>
  </div>
</footer>
