<!-- SCROLL TOP BUTTON -->
<a class="scrollToTop" href="#"></a>
<!-- END SCROLL TOP BUTTON -->

<!--=========== BEGIN HEADER SECTION ================-->
<header id="header">
  <!-- BEGIN MENU -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

    <div class="navbar-top">
      <div class="container">
          <div class="row">
            <div class="col-sm-6 col-xs-12">
                <ul class="list-unstyled list-inline header-contact">
                    <li> <i class="fa fa-phone"></i> <a href="tel:">+27 60 337 4512 </a> </li>
                     <li> <i class="fa fa-envelope"></i> <a href="mailto:info@foresthill.uct.ac.za">info@foresthill.uct.ac.za</a> </li>
               </ul> <!-- /.header-contact  -->
            </div>
            <div class="col-sm-6 col-xs-12 text-right">
                <ul class="list-unstyled list-inline header-social">
                    <li> <a href="#"> <i class="fa fa-facebook"></i> </a> </li>
                    <li> <a href="#"> <i class="fa fa-twitter"></i>  </a> </li>
                    <li> <a href="#"> <i class="fa fa-google"></i>  </a> </li>
                    <li> <a href="#"> <i class="fa fa-youtube"></i>  </a> </li>
                    <li> <a href="#"> <i class="fa fa fa-pinterest-p"></i>  </a> </li>
               </ul> <!-- /.header-social  -->
            </div>
          </div>
      </div>
    </div>

    <div class="navbar-main">
      <div class="container">
        <div class="navbar-header">
          <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- LOGO -->
          <!-- TEXT BASED LOGO -->
          <!-- <a class="navbar-brand" href="index.html">WpF <span>Degree</span></a> -->
          <!-- IMG BASED LOGO  -->
          <a href = "<%= root_url %>"><img class="navbar-brand" src="<%= image_url('logo/blue_logo.png') %>" alt="logo"></a>
           <!-- <a class="navbar-brand" href="index.html"><img src="img/logo.png" alt="logo"></a>  -->

        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
            <li><a href="course-archive.html">About</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Facilities<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Games Room</a></li>
                <li><a href="#">TV Room</a></li>
                <li><a href="#">Dance Room</a></li>
                <li><a href="#">Library</a></li>
                <li><a href="#">Computer Lab</a></li>
                <li><a href="#">Tuck Shop</a></li>
              </ul>
            </li>
            <li><a href="#">Culture</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Academics<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Mentors</a></li>
                <li><a href="#">Tutors</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sports<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Soccer</a></li>
                <li><a href="#">Netball</a></li>
                <li><a href="#">Basket Ball</a></li>
                <li><a href="#">Hockey</a></li>
                <li><a href="#">Chess</a></li>
              </ul>
            </li>
            <li><a href="#">Gallery</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Blog<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Health and Fitness</a></li>
                <li><a href="#">Chef@Home</a></li>
                <li><a href="#">Fashion and Art</a></li>
                <li><a href="#">The Weekend</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

  </nav>
  <!-- END MENU -->
</header>
<!--=========== END HEADER SECTION ================-->
